# =====================
# macOS
# =====================
.DS_Store

# =====================
# Xcode
# =====================
*.xcworkspace
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside

# Derived data
DerivedData/

# Build products
build/
*.ipa
*.dSYM
*.dSYM.zip
*.hmap

# =====================
# Swift Package Manager
# =====================
.build/
Packages/
.swiftpm/
Package.resolved

# =====================
# CocoaPods
# =====================
Pods/

# =====================
# Carthage
# =====================
Carthage/Build/

# =====================
# Fastlane
# =====================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# =====================
# Secrets / Private Files
# =====================
Secret
Secret.*
